gil_1/test/freetype1.png svn_mime_002dtype=application%2Foctet-stream
gil_1/test/freetype2.png svn_mime_002dtype=application%2Foctet-stream
gil_1/test/test[!!-~]images.zip svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g01bg.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g01bw.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g01p1.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g01wb.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g04.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g04p4.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g04rle.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08offs.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08os2.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08p256.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08p64.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08pi256.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08pi64.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08res11.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08res21.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08res22.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08rle.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08s0.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08w124.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08w125.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g08w126.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g16bf555.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g16bf565.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g16def555.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g24.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g32bf.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/g32def.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/p4.pnm svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/p5.pnm svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/p6.pnm svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/io/rgb.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/opencv/rgb.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/toolbox/flower.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/toolbox/flower_brightness.bmp svn_mime_002dtype=application%2Foctet-stream
gil_2/libs/gil/toolbox/flower_neg.bmp svn_mime_002dtype=application%2Foctet-stream
